/* VARS */
:root {
  --body: rgb(137, 155, 255);
  --text: #000000;
  --textB: #5e5b78;
  --header-bg: #5fbbe2;
  --link: rgb(227, 221, 200);
  --link-hover: rgb(255, 255, 255);
  --link-active: rgb(120, 112, 88);
  --button-bg: rgb(169, 169, 169);
  --card-bg: rgb(135, 218, 243);
}

/* APP */
.App {
  /* background-color: var(--body); */
  font-family: 'Poppins', 'Amatic SC', 'Franklin Gothic Medium', 'Arial Narrow',
    Arial, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

a:active {
  color: var(--link-active);
}

.enabled {
  pointer-events: all;
}

.disabled {
  pointer-events: none;
}

hr {
  margin: 1rem 0;
}

.header-container {
  width: 100%;
}

.cards-container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.log-error {
  color: rgb(222, 0, 0);
}

.welcome-note {
  margin: 0;
}

/* Header */
.header-box {
  background-color: var(--body);
  padding: 2rem 0;
}

.header-logo {
  height: 30vh;
}

.nav-link-box {
  margin: 1rem 0;
  padding: 1rem 0.5rem;
}

.nav-link {
  font-weight: 300;
  display: inline;
  margin: 0 1rem;
}

/* MainBox */

.main-box {
  margin: 1rem 0;
}

/*LandingPage*/

.landing-box {
  margin: 4rem 0;
}

/* INPUT */
.input-container {
  margin: 0;
}

input {
  width: 12rem;
  height: 1.6rem;
  min-width: 4rem;
  border-radius: 4px;
  margin: 0.5rem 0;
  padding: 0.1rem;
  font-size: 0.9rem;
}

/* FORM */

.submit-form-buttong {
  background-color: #5fbbe2;
  color: #000000;
}

/* BUTTON */
.button-box {
  margin: 0;
}

.button {
  margin: 0;
}

/* CARD */

.card-box {
  background-color: var(--card-bg);
  margin: 1rem;
  width: 10rem;
  max-width: 20vw;
  border-radius: 4px;
  /* font-family: 'Poppins'; */
}

.card-name {
  font-weight: 600;
  margin: 0;
}

.card-img {
  margin: 0;
  max-width: 100%;
}

.card-age {
  font-weight: 300;
  margin: 0;
}

.card-breed {
  font-weight: 300;
  margin: 0;
}

.card-loc {
  font-weight: 200;
  margin: 0;
}
